header > div > ul > li {
    font-size: 12px;
    color:  #999999;
}
header > div > ul > li > a:hover {
    color:  #575757 !important;
}
header > div {
    align-items: center;
    max-width: 1200px;
}
header > div > nav {
    justify-content: baseline;
}
header > div > nav > a > img {
    width: 120px;
}
header > div > nav > form {
    width: 600px;
}
header > div > nav > ul > li > a > #textHeader:hover {
    color: green !important;
    text-decoration: underline !important;
}
#canvas {
    align-items: center;
    max-width: 1200px;
}
#canvas > #categories > li {
    font-size: 13px;
}
#canvas > #categories > li > a:hover {
    text-decoration: underline;
    color: green !important;
    font-weight: bold;
}
#canvas > #pathCat > li {
    font-size: 10px;
}
#canvas > #pathCat > li > a:hover {
    color: green !important;
    font-weight: bold;
}
